*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif;;
    text-align: center;
}

main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* MAIN HEADINGS AND PARAGRAPH STYLING */

.headings-and-paragraph{
    display: flex;
    margin-top: 4.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 250px;
    gap: 14px;
}

.headings-and-paragraph h1{
    font-size: 2.2rem;
}


.headings-and-paragraph p{
    font-size: 1rem;
    text-align: center;
}

.headings-and-paragraph h2{
    margin-top: 24px;
    font-size: 1.4rem;
}

/* SCORES SECTION STYLING */
/* THIS CODE WILL DISPLAY WHEN THE USER CLICKS ON START GAME BUTTON */
.scores{
    display: none; /* when visible change it to flex */
    margin: auto;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;
    padding: 12px 24px;
    border: 2px solid #1e1e1e;
    border-radius: 20px;
}

.scores p{
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0;
}

.scores #user-score::after{
    content: ":";
    margin-left: 14px;
}

/* OPTIONS SECTION STLYING */
.options-container{
    margin: 12px auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 12px 0;
}

.rock-section, 
.paper-section, 
.scissors-section, 
.computer-option-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

/* THIS CODE WILL DISPLAY: FLEX WHEN WE GET THE COMPUTER CHOICE */
.computer-option-section{
    display: none;
    margin-left: 24px;
}

.computer-option-section::before{
    content: "VS";
    position: absolute;
    left: -48px;
    font-size: 1.4rem;
    font-weight: 600;
}

.rock-section button,
.paper-section button,
.scissors-section button,
.computer-option-section button{
    width: fit-content;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid #999;
    background-color: transparent;
    cursor: pointer;
}

/* BUTTON HOVER STYLES */
.rock-section button:hover,
.paper-section button:hover,
.scissors-section button:hover,
.computer-option-section button:hover
{
    background-color: #ebebeb;
}

/* BUTTON FOCUS STYLES */
.rock-section button:focus,
.paper-section button:focus,
.scissors-section button:focus{
    outline: 8px solid rgba(204, 202, 202, 0.5);
}

/* SVGS STYLES */
.rock-section button img,
.paper-section button img,
.scissors-section button img,
.computer-option-section button img
{
    width: 100px;
}

/* START GAME STYLING */

/* THIS CODE WILL DISPLAY WHEN THE USER CLICKS ON ONE OF THE THREE OPTIONS*/
.start-game-btn{
    visibility: hidden;
    font-size: 1.1rem;
    font-weight: 600;
    width: 150px;
    padding: 12px;
    margin-top: 8px;
    border-radius: 20px;
    border: none;
    background-color: #1e1e1e;
    cursor: pointer;
    color: #e4e4e4;
    transition: background-color .4s ease-in;
}

.visible{
    visibility: visible;
}

.start-game-btn:hover{
    background-color: #1e1e1eab;
}